
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap');

/* 1 - Declaração das variáveis utilizadas */
:root {
    --primary1: #F05454;
    --primary2: #30475E;
    --secondary1: #222831;
    --secondary2: #F5F5F5;
    --detail: #FFF8B8;
}

/* 2 - Formatação padrão dos componentes */
* {
    margin: 0;
    padding: 0;
}

html,body{
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Inter'; 
}

header{
    background-color: #F05454;
    padding: 20px 0px;    
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.routes {
    color: var(--primary1);
    background-color: var(--secondary2);
    border: none;
    margin: 0em 0em;
    font-size: 1.5em;
    padding: 20px 20px;
    text-decoration: none;
    transition-delay: 0.15s;
}

.routes:hover {
    color: var(--secondary2);
    background-color: var(--primary1);
    /* border-bottom: 5px solid var(--primary2); */
    padding: 12px 20px;
    transition-delay: 0.1s;
}

main{
    display: flex;
    flex: 1 0 auto; 
    /* flex-wrap: wrap; */
}



div.Pri,div.Sec{
    /* width: 50vw; */
    /* height: 91.3vh; */
    /* width: 100%; */
    /* box-shadow: inset 0px 10px 10px -10px #000000;  */
    

}

div.Pri{
    position: relative;
    display: inline;
    background-color: #30475E;
    background-image: url('../res/img/fundo_Index.svg');
    background-repeat: no-repeat;
    background-position: bottom left;
    width: 57%;
    box-shadow: inset 0px -12px 10px -10px #000000 , inset 0px 10px 10px -10px #000000 ;
}
div.Sec{
    position: relative;
    display: inline;
    background-color: #222831;
    width: 43%;
    /* align-items: center; */
    box-shadow: inset 0px 10px 10px -10px #000000, -10px 0px 10px -10px #000000;
    
    
}



div.row{
    position: absolute;
    display: block;
    margin: auto;
    border: solid var(--detail);
    border-width: 5px;
    /* height: 320px;
    width: 260px; */
    background-color:#30475ed5;
    
    height: 430px;
    width: 310px;

    top: 50%;
    left: 50%;

    transform: translate(-50%,-50%); 
}


p.homePage{
    /* padding: 10px; */
    padding-left: 12px;
    padding-right: 12px;
    margin-top: -20px;
}
.homeW{
    color: #F5F5F5;
    font-size: 3em;
    font-weight: 300;
}
.homeR{
    color: #F05454;
    font-size: 3em;
    font-weight: 300;
}
.homeT{
    color: #222831;
    font-size: 5em;
    font-weight: 300;
}
.homeHTML{
    color: #F05454;
    font-size: 5em;
    font-weight: 300;
    
}
.btn{
    position: absolute;
    background-color: #F05454;
    /* height: 120px; */
    width: 380px;

    top: 70%;
    left: 50%;
    
    transform: translate(-50%,-50%);
    text-align: center;
    /* padding-top: 30px; */
    padding: 25px 0px;

}
.btnR{
    
    text-decoration: none;
    font-size: 3.5em;
    color: #30475E;
    padding: 40px;
    font-weight: 500
    
}
.btnR:hover{
    color: #FFF8B8;
}
.triangle{
    /* display: flex; */
    position: absolute;
    width: 70px;
    height: 70px;
    background: linear-gradient(to bottom right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 50%, var(--secondary1) 50%, var(--secondary1) 100%);
    transform: rotate(90deg);
    left: -4%;
    top:55%
}

div.DevW{
    /* margin: auto; */
    position: absolute;
    top: 50%;
    left: 50%;
    

    transform: translate(-50%,-50%); 

    font-size:8vw;
    font-weight: 400;
    color: #30475E;
}
.cR{
    color: #F05454;
}
.cW{
    color: #F5F5F5;
}
.triangle2{
    /* display: flex; */
    position: absolute;
    width: 120px;
    height: 120px;
    background: linear-gradient(to bottom right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 50%, var(--primary1) 50%, var(--primary1) 100%);
    /* transform: rotate(90deg); */
    top: 100%;
    left: 100%;
    transform: translate(-100%,-100%);

}


footer{
    flex-shrink: 0;
    background-color: rgb(15, 15, 15);
    padding: 5px;
    color: white;
    text-align: center;
    align-items: center;
}

.arvore{
    position: absolute;
    transform: translate(0%,-99.4%);
    top: 100%;
    /* background-image: url('../res/img/arvore\ transparente.svg'); */
}
.arvimg{
    width: 120%;
}
.arbusto{
    position: absolute;
    transform: translate(-50%,-84.4%);
    top: 100%;
    left: 95%;
}
.fo1 img{
    width: 25%;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 70%;
    top: 80%;
    /* border: solid var(--detail); */
}
.fo2 img{
    width: 20%;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 80%;
    top: 25%;
    /* border: solid var(--detail); */
}
.fo3 img{
    /* width: 30%; */
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 0%;
    /* border: solid var(--detail); */
}